@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Merriweather', serif;
}

/* ------Header Styling-------- */
/* #logout{
    display: none;
}
#header-profile:hover{
    #logout{
        display: block;
        position: absolute;
        top: 3rem;
        width: 5%;
        text-align: center;
        background-color: white;
        color: #162e44;
    }
} */